<h2>{{responseMessage}}</h2>
<form *ngIf="active">
	<div class="form-group">
		<label for="name">Name:</label><br>
		<input type="text" class="form-control" id="name" name="name" [(ngModel)]="model.name" required>
	</div>

	<div class="form-group">
		<label for="favColor">Favorite Color:</label><br>
		<input type="text" class="form-control" id="favColor" name="favColor" [(ngModel)]="model.favoriteColor" required>
	</div>

	<button type="button" class="btn btn-default" (click)="newPerson()">Submit</button>
</form>  